/* everything */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
}

.score {
    display: flex;
    padding: 16px 0 0 16px;
}
.timer {
   float: right;
    padding: 0 16px 20px 0;
}

/* hide other section */
#questionsPage {
    display: none;
}

#scorePage {
    display: none;
}
#highscorePage{
    display: none;
}
.hide {
    display: none;
}

.show {
    display: block;
}